    /*reset css*/
    /*全局*/
    
    html {
        font-size: 100px;
    }
    
    *,
    :before,
    :after {
        margin: 0;
        padding: 0;
        /*清除移动端默认的点击高粱效果*/
        -webkit-tap-highlight-color: transparent;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
    
    body {
        font-size: 0.14rem;
        font-family: "MicroSoft YaHei", sanas-serif;
        color: #333;
    }
    
    ul,
    ol {
        list-style: none;
    }
    
    a {
        color: #333;
        text-decoration: none;
    }
    
    a:hover {
        text-decoration: none;
    }
    
    input {
        border: none;
        /*outline: none;  如果去除，会没有蓝色聚焦边框*/
        /*清除移动端默认的表单样式*/
        -webkit-appearance: none;
    }
    /*common css*/
    
    .f_left {
        float: left;
    }
    
    .f_right {
        float: right;
    }
    
    .clearfix::before,
    .clearfix::after {
        content: '';
        height: 0;
        line-height: 0;
        display: block;
        visibility: hidden;
        clear: both;
    }
    /*字体的设置*/
    
    .iconfont {
        -webkit-font-smoothing: antialiased !important;
        -webkit-text-stroke-width: 0.015rem!important;
    }
