/*通过为 .row 元素设置负值 margin 从而抵消掉为 .container 元素设置的 padding，也就间接为“行（row）”
所包含的“列（column）”抵消掉了padding。*/
body{
	margin-top: 121px;
}
.clearfix {
    clear: both;
}
.clearPadding{
	padding: 0;
}
ul {
    list-style: none;
}

a,a:hover{
    text-decoration: none;
}

.row {
    margin: 0 -15px -15px;
}

.box {
    background: #fff;
}

/*设置整个盒子的大小*/

.nav-width,
.box {
    max-width: 640px;
    min-width: 300px;
    margin: 0 auto;
}

.clear-bottom {
    height: 60px;
}

.nav-top-title {
    height: 60px;
    background: #8B6752;
}


/*设置重置对齐方式，可复用*/

.ver-align {
    vertical-align: middle;
}


/*设置左右图标的行高*/

.nav-top-icon {
    line-height: 60px;
}


/*该表图标的颜色*/

.change-icon {
    color: #fff;
    font-size: 24px;
}


/*设置中间图标的样式*/

.p-style {
    line-height: 60px;
    font-size: 24px;
    color: #fff;
    margin: 0;
}

.nav-top-item {
    background-color: #fff;
}


/*设置导航栏li的颜色*/

.nav-item {
    margin-bottom: 0;
    height: 60px;
    line-height: 60px;
    background-color: #fff;
    padding: 0;
}

.nav-item li {
    width: 33.3%;
    text-align: center;
    height: 100%;
    float: left;
    position: relative;
}
.nav>li>a:focus, .nav>li>a:hover{
    background-color: #fff;
}
.nav-item li a {
    color: #5B5B5B;
    font-size: 20px;
    font-weight: bolder;
}
.nav-item .active:before {
    content: "";
    width: 100%;
    height: 2px;
    display: inline-block;
    position: absolute;
    background-color: #3190E8;
    bottom: 0;
    left: 0;
}
.nav-item .active a {
    color: #3A95E9;
    text-decoration: none;
}

/*左边导航*/

.nav-left {
    position: fixed;
    top: 121px;
    padding: 0;
    background: #F8F8F8;
    border-right: 1px solid #DDDDDD;
    bottom: 0;
    overflow: scroll;
}
.nav-left li{
	border-bottom: 1px solid #DDDDDD;
    max-width: 160px;
}
.nav-left .now{
	border: none!important;
    background-color: #fff ;
}
.nav-left a {
    text-align: center;
    color: #686868;
    font-weight: bolder;
    font-size: 20px;
}
/*右侧内容*/
.nav-right{
	/*margin-top: 100px;*/
	overflow: scroll;
    z-index: 2;
}
/*.fr{
	float: right;
}*/
.right-nav-item{
	margin-bottom: 0;
}
.nav-right .panel-heading{
	height: 50px;
	background-color: #F1F1F1;
}
.nav-right .panel-heading>.panel-title{
	color: #666666;
	font-size: 20px;
	font-weight: bolder;
}
.nav-right .list-group-item{
	/*height: 170px;*/
	border-bottom: 1px solid #DDDDDD;
}
.nav-right .list-group-item p{
   color: #333333;
   font-size: 20px;
   font-weight: bolder;
}
.nav-right .glyphicon{
	color: #FFAA0C;
}
.list-group-item{
	position: relative;
}
.list-group-item .sale-amount{
	margin-left: 5px;
	color: #949494;
}
.list-group-item .sale-price{
	color: #FF6000!important;
}
.list-group-item .bottom-icon{
	position: absolute;
	right: 5px;
	top: 60px;
	display: block;
	width: 30px;
	height: 30px;
	border-radius: 50% 50%;
	background-color:rgba(49,144,232,0.6);
	background-position: center;
}
.list-group-item .glyphicon-plus:before {
    content: "\2b";
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    margin-left: -7px;
    margin-top: -7px;
    color: #fff;
}
.cut-con{
    position: absolute;
    right: 60px;
    top: 60px;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50% 50%;
    background-color:rgba(49,144,232,0.6);
    color: #fff;
    font-size: 35px;
    text-align: center;
    line-height: 25px;
}
.food-amount{
     position: absolute;
     right: 35px;
     top: 60px;
     display: block;
     font-size: 20px;
     width: 25px;
     height: 25px;
     text-align: center;
     color: #666666;
}

/*评价页*/
.evaluation-bar{
    padding: 20px 0;
    border-bottom: 1px dotted #DDDDDD;
}
.evaluation-bar div:first-child button{
    background: #3190E8;
    color: #FFFFFF;
}
.evaluation-bar div:nth-child(2) button{
    background: #EBF5FF;
    color: #727E8A;
}
.evaluation-bar div:last-child button{
    background: #F5F5F5;
    color: #AAAAAA;
}
.evaluation .media-left a img{
    background-color: #D1EAFF;
}
.evaluation-username{
    color: #666666;
    font-size:15px;
    margin-left: 5px;
}
.evaluation-time{
    color: #707C88;
    font-size: 15px;
}
.evaluate{
    padding: 5px 10px;
}
.evaluate span{
    display: block;
    font-weight: bolder;
}
/*商家页样式*/
.business-infor{
    background-color:#EEEEEE;
    margin-top: 5px;
}
.business-infor-title{
    background-color: #FFFFFF;
    padding: 10px 0;
    border-bottom: 1px solid #E6E6E6;
}
.business-infor-title div{
    border-right: 1px solid #E6E6E6;
}
.business-infor-title div:nth-child(3){
    border: none;
}
.business-infor-title span{
    width: 100%;
    display: inline-block;
    color: #A9A9A9;
    font-size: 14px;
}
.business-infor-title small{
    color: #A9A9A9;
}
/*商家公告*/
.announce-item{
    margin-top: 30px;
    padding-left: 10px;
    margin-bottom: 0;
}
.announce-item .panel-heading{
    background: #fff;
    border-bottom: 1px solid #DDDDDD;
    font-size: 20px;
    color: #9A9A9A;
}
.announce-item li{
    position: relative;
    margin-left: 30px;
    color: #555555;
    font-weight: bolder;
}
.announce-item .cut:before{
    content:"减";
    background: #F07373;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    display: inline-block;
    position: absolute;
    left: -30px;
    top: 5px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
}
.announce-item .first:before{
    content:"首";
    background: #70BC46;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    display: inline-block;
    position: absolute;
    left: -30px;
    top: 5px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
}

/*商家信息*/
.business-panel{
   margin-top: 20px!important; 
}
.business-panel .list-group-item{
    padding-left:0;
}
.business-panel li{
    margin-left: 15px;
}


/*主要是解决底部导航栏遮挡问题*/
.pb{
    padding-bottom: 45px;
}
/*底部导航的样式*/
.nav-bottom {
    background-color: rgba(61, 61, 61, 0.8);
}
.nav-bottom .container{
    max-width: 640px;
    z-index: 1400;
    color: #fff;
    height: 50px;
    line-height: 50px;
    font-size: 23px;
    padding-right: 10px;
}
.nav-bottom .cart{
     margin: 0;
}
.cart div:first-child span {
    font-size: 25px;
}
.cart div:first-child img{
    width: 35px;
    height: 35px;
    margin-top: -5px;
}
.nav-bottom .glyphicon{
    font-size: 30px;
    color: #fff;
}
.cart div:nth-child(2) span{
   display: inline-block;
   text-align: center;
   font-size: 20px;
}
.btn-goBuy{
    padding: 0 10px;
    background: #00CC66;
    margin-right: -10px;
}
.shopCar{
    max-width: 640px;
    position: fixed;
    left: 0px;
    right: 0px;
    margin: auto;
    bottom: 45px;
    z-index: 9999;

}