<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>mele</display-name>
	<servlet>
		<servlet-name>CityServlet</servlet-name>
		<servlet-class>com.mele.servlet.CityServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CityServlet</servlet-name>
		<url-pattern>/apis/CityServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>OrderServlet</servlet-name>
		<servlet-class>com.mele.servlet.OrderServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OrderServlet</servlet-name>
		<url-pattern>/apis/OrderServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserServlet</servlet-name>
		<servlet-class>com.mele.servlet.UserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserServlet</servlet-name>
		<url-pattern>/apis/UserServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>StoreServlet</servlet-name>
		<servlet-class>com.mele.servlet.StoreServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StoreServlet</servlet-name>
		<url-pattern>/apis/StoreServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserAddressServlet</servlet-name>
		<servlet-class>com.mele.servlet.UserAddressServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserAddressServlet</servlet-name>
		<url-pattern>/apis/UserAddressServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>StoreMenuServlet</servlet-name>
		<servlet-class>com.mele.servlet.StoreMenuServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StoreMenuServlet</servlet-name>
		<url-pattern>/apis/StoreMenuServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>